Options -Indexes

<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|aspx|sh|cgi|exe)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.(pdf|jpg|jpeg|png|gif)$">
    Order allow,deny
    Allow from all
</FilesMatch>

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set Content-Disposition "attachment"
    Header set X-Frame-Options "DENY"
</IfModule>
